# Dataset files
*.zip
*.csv
data/barcodes/

# Database
smartinventory.db
*.db

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.dbconfig.py

config.py
data/
